{::options parse_block_html="true" /}
<div id='{{ include.id }}'></div>
<script type="text/javascript">
if (jsit_options !== null && typeof jsit_options == 'undefined') var jsit_options={};
var options = {{ include.options }};
jsit_options['{{ include.id}}'] = options;
if (!!options.data)
{
    $('#{{ include.id }}').JSIronTable(options);
}
else
{
    $.getJSON( "{{ site.baseurl }}/{{ include.datafile }}", function( data ) {
        var options = jsit_options['{{ include.id}}'];
        options.data = data;
        $('#{{ include.id }}').JSIronTable(options);
    })
    .fail(function() {
        console.error("Error loading json from {{ site.baseurl }}/{{ include.datafile }}");
    });
}
</script>